:root {
  --bg-dark: #181818;
  --bg-panel: #181818;
  --border-dark: #181818;

  --card-bg: #212121;
  --card-bg-hover: #202020;

  --text-white: #ffffff;
  --text-light: #d4d4d4;
  --text-grey: #c8c8c8;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, sans-serif;
  background: var(--bg-dark);
  color: var(--text-white);
}

.material-icons {
  color: #ffffff; /* Navbar, Header, etc. */
}