.container {
  padding: 24px;
  background: var(--bg-dark);
  min-height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 16px;
}

.embedWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}