.container {
    padding: 24px;
    background: #121212;
    min-height: calc(100vh - 56px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .title {
    color: #fff;
    text-align: center;
    margin-bottom: 48px;
  }
  
  .embedWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }