.container {
  padding: 24px;
  background: var(--bg-dark);
  min-height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 0;
  font-size: 3rem;
  font-weight: 700;
  color: var(--text-white);
  margin-bottom: 48px;
  margin-top: 32px;
  text-align: center;
}

.embedWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}